@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  a {
    @apply underline hover:text-primary-700;
  }

  h1,h2,h3 {
    @apply font-serif;
  }

  th {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
  }
  td {
    @apply px-6 py-4 whitespace-nowrap text-sm text-gray-500;
  }

  [x-cloak] {
    @apply hidden;
  }
}
